a:visited{ 
    color: blue; 
}

#login_form{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 3px;
}

#leftMenu{
    background-color: #EDE9E3;
    width: 200px;
    height: 800px;
    float: left;
}

#content{
    width: 800px;
    height: 800px;
    float: left;
    border: 1px solid black;
}

.title{
    border-bottom: 2px solid blue;
    width: 200px;
    margin: 0px 0px 10px 20px;
}

.control-button{
    margin: 20px 0px 20px 20px;
    min-width: 70px;
}

.doc-table th{
    background-color: #CCCCCC; 
    text-align: left; 
}

.doc-table{ 
    text-align: left; 
    margin-left: 20px;    
}

.doc-body{ 
    text-align: left; 
    margin-left: 20px;    
}

.edit-text{
    width: 790px;
    margin: 0 auto;
}