<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Calm Clinic Center{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/calmclinic/css/screen.css') }}" />
    </head>
    <body>
{% block leftmenu%}
{% endblock %}    
{% block content %}
{% endblock %}
    </body>
</html>
