{% extends "StartStartBundle::layout.html.twig" %}

{% block title %} First Page {% endblock %}

{% block leftmenu %}
<h2>Left Menu</h2>
<a href="{{ path('logout') }}">Logout</a>
{% endblock %}

{% block content %}
<h2>Hi, {{name}}</h2>
<h1>Content  {{name}}</h1>

{% endblock %}